<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Test Suite">
    <test name="SauceDemo Tests">
        <classes>
            <class name="com.pragmatic.selenium.tests.SauceDemoTests">
            <methods>
                <include name="testLoginWithValidCredentials"/>
                <include name="testAddProductsToCart"/>
                <include name="testProductsInTheCart"/>
                <include name="testUserDetails"/>
                <include name="testOrderCheckOutDetails"/>
                <include name="testOrderCompletionPage"/>
            </methods>
            </class>
            <class name="com.pragmatic.selenium.tests.CrossBrowserBrowserFactoryTest">
                <methods>
                    <include name="testLoginWithChrome"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
